<!DOCTYPE html>
<html>
<head>
	<title>gReads</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container-fluid">
		<div class="col-md-2">
			<div id="sidbar" class="row">
				<div id="section-authors">
					<a href="/authors">
						<img src="https://static.pexels.com/photos/7103/writing-notes-idea-conference.jpg" />
					</a>
					<p>Authors</p>
				</div>
				<div id="section-books">
					<a href="/books">
						<img src="https://static.pexels.com/photos/2757/books-magazines-building-school.jpg" />
					</a>
					<p>Books</p>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="jumbotron">
				<% if(author){ %>
					<div class="row">
						<div class="col-md-4">
							<img id="bookPic" src="<%= author[0]['picture-url'] %>" />
						</div>
						<div class="col-md-8">
							<h3><%= author[0]['first-name'] %> <%= author[0]['last-name'] %></h3>
							<h5>Books By The Author:</h5>
							<form action="/authors/author/<%= author[0].author_id %>/del?_method=DELETE">
								<button type="submit" class="btn btn-danger form-control">Delete</button>
							</form>
							<br>
							<a class="btn btn-primary form-control" href="/authors/author/<%= author[0].author_id %>/edit">Edit</a>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</div>

	<% include ../partials/footer %>
</body>
</html>