<!DOCTYPE html>
<html>
<head>
	<title>gReads</title>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container-fluid">
		<div class="col-md-2">
			<div id="sidbar" class="row">
				<div id="section-authors">
					<a href="/authors">
						<img src="https://static.pexels.com/photos/7103/writing-notes-idea-conference.jpg" />
					</a>
					<p>Authors</p>
				</div>
				<div id="section-books">
					<a href="/books">
						<img src="https://static.pexels.com/photos/2757/books-magazines-building-school.jpg" />
					</a>
					<p>Books</p>
				</div>
			</div>
		</div>
		<div class="col-md-10">
			<div class="jumbotron">
				<% if (books) { %>
					<% books.forEach(function(book){ %>
						<div class="row">
							<div class="col-md-4">
								<img id="bookPic" src="<%= book['cover-url'] %>" />
							</div>
							<div class="col-md-8">
								<h4>TITLE: <a href="/books/book/<%=book.book_id%>"><%= book.title %>, GENRE: <%=book.genre%></a></h4>
								<p><%= book.description %></p>
							</div>
						</div>
					<% }) %>
				<% } else { %>
					<h1>NO Books Yet</h1>
				<% } %>
			</div>
		</div>
	</div>

	<% include ../partials/footer %>
</body>
</html>